<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bangla Character Tree</key>
	<dict>
		<key>$</key>
		<array>
			<dict/>
			<string>৳</string>
			<true/>
			<true/>
			<array>
				<string>$</string>
				<string>£</string>
			</array>
		</array>
		<key>&apos;</key>
		<array>
			<dict>
				<key>&apos;</key>
				<array>
					<dict/>
					<string>&apos;</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string></string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>,</key>
		<array>
			<dict>
				<key>,</key>
				<array>
					<dict/>
					<string>্</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>,</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>.</key>
		<array>
			<dict>
				<key>.</key>
				<array>
					<dict/>
					<string>.</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>।</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>0</key>
		<array>
			<dict/>
			<string>০</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>1</key>
		<array>
			<dict/>
			<string>১</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>2</key>
		<array>
			<dict/>
			<string>২</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>3</key>
		<array>
			<dict/>
			<string>৩</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>4</key>
		<array>
			<dict/>
			<string>৪</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>5</key>
		<array>
			<dict/>
			<string>৫</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>6</key>
		<array>
			<dict/>
			<string>৬</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>7</key>
		<array>
			<dict/>
			<string>৭</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>8</key>
		<array>
			<dict/>
			<string>৮</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>9</key>
		<array>
			<dict/>
			<string>৯</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>:</key>
		<array>
			<dict>
				<key>:</key>
				<array>
					<dict/>
					<string>:</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>ঃ</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>^</key>
		<array>
			<dict>
				<key>^</key>
				<array>
					<dict/>
					<string>^</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>ঁ</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>a</key>
		<array>
			<dict>
				<key>e</key>
				<array>
					<dict/>
					<string>্য</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>া</string>
			<true/>
			<true/>
			<array>
				<string>্য</string>
				<string>্যা</string>
			</array>
		</array>
		<key>A</key>
		<array>
			<dict/>
			<string>আ</string>
			<true/>
			<true/>
			<array>
				<string>অ্যা</string>
				<string>এ্যা</string>
			</array>
		</array>
		<key>b</key>
		<array>
			<dict>
				<key>b</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ব্ভ</string>
							<true/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>ব্ব</string>
					<true/>
					<true/>
					<array>
						<string>ব্য</string>
					</array>
				</array>
				<key>h</key>
				<array>
					<dict/>
					<string>ভ</string>
					<false/>
					<false/>
					<array>
						<string>ভ্ব</string>
					</array>
				</array>
			</dict>
			<string>ব</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>c</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ছ</string>
							<false/>
							<false/>
							<array>
								<string>ছ্ব</string>
							</array>
						</array>
					</dict>
					<string>চ</string>
					<false/>
					<false/>
					<array>
						<string>চ্ব</string>
					</array>
				</array>
			</dict>
			<string>ক</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>d</key>
		<array>
			<dict>
				<key>d</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>দ্ধ</string>
							<true/>
							<true/>
							<array>
								<string>ধ্য</string>
								<string>দ্ধ্ব</string>
							</array>
						</array>
					</dict>
					<string>দ্দ</string>
					<true/>
					<false/>
					<array>
						<string>দ্য</string>
						<string>দ্ম</string>
						<string>দ্দ্ব</string>
					</array>
				</array>
				<key>h</key>
				<array>
					<dict>
						<key>d</key>
						<array>
							<dict>
								<key>h</key>
								<array>
									<dict/>
									<string>ধ্য</string>
									<true/>
									<true/>
									<array/>
								</array>
							</dict>
							<string>ধদ</string>
							<false/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>ধ</string>
					<false/>
					<false/>
					<array>
						<string>ধ্ব</string>
					</array>
				</array>
			</dict>
			<string>দ</string>
			<false/>
			<false/>
			<array>
				<string>দ্ব</string>
			</array>
		</array>
		<key>D</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>ঢ</string>
					<false/>
					<false/>
					<array/>
				</array>
			</dict>
			<string>ড</string>
			<false/>
			<false/>
			<array>
				<string>ড্ব</string>
			</array>
		</array>
		<key>e</key>
		<array>
			<dict/>
			<string>ে</string>
			<true/>
			<true/>
			<array>
				<string>্য</string>
				<string>্যা</string>
			</array>
		</array>
		<key>E</key>
		<array>
			<dict/>
			<string>এ</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>f</key>
		<array>
			<dict/>
			<string>ফ</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>g</key>
		<array>
			<dict>
				<key>d</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>গ্ধ</string>
							<true/>
							<true/>
							<array>
								<string>গ্ধ্ব</string>
							</array>
						</array>
					</dict>
					<string>গ্দ</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>g</key>
				<array>
					<dict/>
					<string>জ্ঞ</string>
					<true/>
					<true/>
					<array>
						<string>গ্য</string>
						<string>গ্গ</string>
					</array>
				</array>
				<key>h</key>
				<array>
					<dict/>
					<string>ঘ</string>
					<false/>
					<false/>
					<array>
						<string>ঘ্য</string>
						<string>ঘ্ব</string>
					</array>
				</array>
			</dict>
			<string>গ</string>
			<false/>
			<false/>
			<array>
				<string>জ্ঞ</string>
				<string>গ্ব</string>
			</array>
		</array>
		<key>h</key>
		<array>
			<dict/>
			<string>হ</string>
			<true/>
			<false/>
			<array>
				<string>হ্ব</string>
			</array>
		</array>
		<key>i</key>
		<array>
			<dict>
				<key>i</key>
				<array>
					<dict/>
					<string>ী</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>ি</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>I</key>
		<array>
			<dict>
				<key>i</key>
				<array>
					<dict/>
					<string>ঈ</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>ই</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>j</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>ঝ</string>
					<false/>
					<true/>
					<array/>
				</array>
				<key>j</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>জ্ঝ</string>
							<true/>
							<true/>
							<array/>
						</array>
					</dict>
					<string>জ্জ</string>
					<true/>
					<true/>
					<array>
						<string>জ্জ্ব</string>
					</array>
				</array>
			</dict>
			<string>জ</string>
			<false/>
			<false/>
			<array>
				<string>জ্ব</string>
			</array>
		</array>
		<key>J</key>
		<array>
			<dict/>
			<string>য</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>k</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>খ</string>
					<false/>
					<false/>
					<array>
						<string>ক্ষ</string>
						<string>খ্য</string>
					</array>
				</array>
				<key>k</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ক্ষ</string>
							<false/>
							<false/>
							<array>
								<string>ক্ষ্য</string>
								<string>ক্ষ্ম</string>
								<string>খ্য</string>
							</array>
						</array>
					</dict>
					<string>ক্ক</string>
					<true/>
					<true/>
					<array>
						<string>ক্য</string>
					</array>
				</array>
			</dict>
			<string>ক</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>l</key>
		<array>
			<dict>
				<key>l</key>
				<array>
					<dict/>
					<string>ল্ল</string>
					<true/>
					<true/>
					<array>
						<string>ল্য</string>
						<string>ল্ব</string>
					</array>
				</array>
			</dict>
			<string>ল</string>
			<false/>
			<false/>
			<array>
				<string>ল্ব</string>
			</array>
		</array>
		<key>m</key>
		<array>
			<dict>
				<key>m</key>
				<array>
					<dict/>
					<string>ম্ম</string>
					<true/>
					<true/>
					<array>
						<string>ম্য</string>
						<string>হ্ম</string>
					</array>
				</array>
			</dict>
			<string>ম</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>n</key>
		<array>
			<dict>
				<key>c</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict>
								<key>h</key>
								<array>
									<dict/>
									<string>ঞ্ছ</string>
									<true/>
									<true/>
									<array/>
								</array>
							</dict>
							<string>ঞ্চ</string>
							<true/>
							<true/>
							<array/>
						</array>
					</dict>
					<string>নক</string>
					<false/>
					<false/>
					<array/>
				</array>
				<key>d</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ন্ধ</string>
							<true/>
							<false/>
							<array>
								<string>ন্ধ্য</string>
								<string>ন্ধ্ব</string>
							</array>
						</array>
					</dict>
					<string>ন্দ</string>
					<true/>
					<false/>
					<array>
						<string>ন্দ্য</string>
						<string>ন্দ্ব</string>
					</array>
				</array>
				<key>g</key>
				<array>
					<dict/>
					<string>ং</string>
					<true/>
					<true/>
					<array>
						<string>ঙ্গ</string>
					</array>
				</array>
				<key>h</key>
				<array>
					<dict/>
					<string>হ্ন</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>j</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ঞ্ঝ</string>
							<true/>
							<true/>
							<array/>
						</array>
					</dict>
					<string>ঞ্জ</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>k</key>
				<array>
					<dict/>
					<string>ঙ্ক</string>
					<true/>
					<false/>
					<array>
						<string>ংক</string>
					</array>
				</array>
				<key>n</key>
				<array>
					<dict/>
					<string>ন্ন</string>
					<true/>
					<true/>
					<array>
						<string>ন্য</string>
						<string>হ্ন</string>
						<string>হ্ণ</string>
						<string>ন্ব</string>
					</array>
				</array>
				<key>t</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ন্থ</string>
							<true/>
							<true/>
							<array/>
						</array>
						<key>r</key>
						<array>
							<dict/>
							<string>ন্ত্র</string>
							<true/>
							<true/>
							<array>
								<string>ন্ত্র্য</string>
							</array>
						</array>
					</dict>
					<string>ন্ত</string>
					<true/>
					<false/>
					<array>
						<string>ন্ত্ব</string>
					</array>
				</array>
				<key>y</key>
				<array>
					<dict/>
					<string>ঞ</string>
					<false/>
					<false/>
					<array/>
				</array>
			</dict>
			<string>ন</string>
			<false/>
			<false/>
			<array>
				<string>ং</string>
				<string>ন্ব</string>
			</array>
		</array>
		<key>N</key>
		<array>
			<dict>
				<key>g</key>
				<array>
					<dict/>
					<string>ঙ</string>
					<true/>
					<false/>
					<array/>
				</array>
				<key>h</key>
				<array>
					<dict/>
					<string>হ্ণ</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>N</key>
				<array>
					<dict/>
					<string>ণ্ণ</string>
					<true/>
					<true/>
					<array>
						<string>ণ্ব</string>
					</array>
				</array>
			</dict>
			<string>ণ</string>
			<false/>
			<false/>
			<array>
				<string>ণ্ব</string>
			</array>
		</array>
		<key>o</key>
		<array>
			<dict>
				<key>i</key>
				<array>
					<dict/>
					<string>ৈ</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>o</key>
				<array>
					<dict/>
					<string>ো</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>u</key>
				<array>
					<dict/>
					<string>ৌ</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string></string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>O</key>
		<array>
			<dict>
				<key>i</key>
				<array>
					<dict/>
					<string>ঐ</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>o</key>
				<array>
					<dict/>
					<string>ও</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>u</key>
				<array>
					<dict/>
					<string>ঔ</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>অ</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>p</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>ফ</string>
					<false/>
					<false/>
					<array/>
				</array>
				<key>p</key>
				<array>
					<dict/>
					<string>প্প</string>
					<true/>
					<true/>
					<array>
						<string>প্য</string>
					</array>
				</array>
			</dict>
			<string>প</string>
			<false/>
			<false/>
			<array>
				<string>প্ব</string>
			</array>
		</array>
		<key>q</key>
		<array>
			<dict/>
			<string>ক্ব</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>R</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>ঢ়</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>r</key>
				<array>
					<dict>
						<key>i</key>
						<array>
							<dict/>
							<string>ঋ</string>
							<true/>
							<true/>
							<array>
								<string>হৃ</string>
							</array>
						</array>
					</dict>
					<string>ড়র</string>
					<true/>
					<false/>
					<array/>
				</array>
			</dict>
			<string>ড়</string>
			<true/>
			<true/>
			<array>
				<string>ঢ়</string>
			</array>
		</array>
		<key>r</key>
		<array>
			<dict>
				<key>a</key>
				<array>
					<dict/>
					<string>রা</string>
					<false/>
					<true/>
					<array>
						<string>র‍্যা</string>
					</array>
				</array>
				<key>r</key>
				<array>
					<dict>
						<key>i</key>
						<array>
							<dict/>
							<string>ৃ</string>
							<true/>
							<true/>
							<array>
								<string>হৃ</string>
							</array>
						</array>
					</dict>
					<string>র্</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>র</string>
			<false/>
			<true/>
			<array>
				<string>হ্র</string>
				<string>র‍্য</string>
			</array>
		</array>
		<key>S</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict>
						<key>s</key>
						<array>
							<dict>
								<key>h</key>
								<array>
									<dict/>
									<string>শ্ব</string>
									<true/>
									<true/>
									<array>
										<string>শ্য</string>
										<string>ষ্য</string>
										<string>শ্ম</string>
										<string>ষ্ম</string>
									</array>
								</array>
							</dict>
							<string>শ্স</string>
							<true/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>শ</string>
					<true/>
					<false/>
					<array>
						<string>ষ</string>
						<string>শ্ব</string>
						<string>শ্ম</string>
					</array>
				</array>
			</dict>
			<string>শ</string>
			<true/>
			<false/>
			<array/>
		</array>
		<key>s</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict>
						<key>s</key>
						<array>
							<dict>
								<key>h</key>
								<array>
									<dict/>
									<string>স্য</string>
									<false/>
									<true/>
									<array/>
								</array>
							</dict>
							<string>সস</string>
							<false/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>স</string>
					<true/>
					<true/>
					<array>
						<string>স্ব</string>
						<string>স্ম</string>
					</array>
				</array>
				<key>s</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>ষ</string>
							<false/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>সস</string>
					<false/>
					<false/>
					<array/>
				</array>
			</dict>
			<string>স</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>T</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict/>
					<string>ঠ</string>
					<false/>
					<false/>
					<array/>
				</array>
				<key>T</key>
				<array>
					<dict>
						<key>r</key>
						<array>
							<dict/>
							<string>ট্ট্র</string>
							<true/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>ট্ট</string>
					<true/>
					<true/>
					<array>
						<string>ট্ব</string>
					</array>
				</array>
			</dict>
			<string>ট</string>
			<false/>
			<false/>
			<array>
				<string>ট্ব</string>
			</array>
		</array>
		<key>t</key>
		<array>
			<dict>
				<key>h</key>
				<array>
					<dict>
						<key>t</key>
						<array>
							<dict>
								<key>h</key>
								<array>
									<dict/>
									<string>থ্ব</string>
									<true/>
									<true/>
									<array>
										<string>থ্য</string>
									</array>
								</array>
							</dict>
							<string> থত</string>
							<false/>
							<false/>
							<array/>
						</array>
					</dict>
					<string>থ</string>
					<false/>
					<false/>
					<array/>
				</array>
				<key>t</key>
				<array>
					<dict>
						<key>h</key>
						<array>
							<dict/>
							<string>থ্ব</string>
							<true/>
							<true/>
							<array>
								<string>ত্থ</string>
								<string>থ্য</string>
							</array>
						</array>
					</dict>
					<string>ত্ত</string>
					<true/>
					<true/>
					<array>
						<string>ত্য</string>
						<string>ত্ব</string>
						<string>ত্ম</string>
						<string>ত্ত্ব</string>
						<string>ত্ত্য</string>
						<string>ত্ম্য</string>
					</array>
				</array>
			</dict>
			<string>ত</string>
			<false/>
			<false/>
			<array>
				<string>ৎ</string>
				<string>ত্ব</string>
			</array>
		</array>
		<key>U</key>
		<array>
			<dict>
				<key>u</key>
				<array>
					<dict/>
					<string>ঊ</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>উ</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>u</key>
		<array>
			<dict>
				<key>a</key>
				<array>
					<dict/>
					<string>ুয়া</string>
					<true/>
					<true/>
					<array/>
				</array>
				<key>u</key>
				<array>
					<dict/>
					<string>ূ</string>
					<true/>
					<true/>
					<array/>
				</array>
			</dict>
			<string>ু</string>
			<true/>
			<true/>
			<array>
				<string>ু্য</string>
			</array>
		</array>
		<key>v</key>
		<array>
			<dict/>
			<string>ভ</string>
			<false/>
			<false/>
			<array/>
		</array>
		<key>w</key>
		<array>
			<dict/>
			<string>ওয়</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>x</key>
		<array>
			<dict/>
			<string>ক্স</string>
			<true/>
			<true/>
			<array/>
		</array>
		<key>y</key>
		<array>
			<dict/>
			<string>য়</string>
			<true/>
			<true/>
			<array>
				<string>ঞ</string>
			</array>
		</array>
		<key>£</key>
		<array>
			<dict/>
			<string>৳</string>
			<true/>
			<true/>
			<array>
				<string>£</string>
				<string>$</string>
			</array>
		</array>
	</dict>
	<key>Bangla Conjuncts</key>
	<dict/>
</dict>
</plist>
